@import '../all.scss';

.main {
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
  [class^="step"] {
    margin-top: 25px;
  }
}

.top-bar {
  width: 100%;
  height: 3px;
  background-color: $color-blue;
}

.schedule-bar {
  width: 100%;
  margin: 60px auto 40px auto;
  .outline {
    width: 240px;
    height: 2px;
    margin: 0 auto;
    background-color: $color-skyblue;
  }
  .line {
    width: 0;
    height: 100%;
    background-color: $color-blue;
    transition: .3s;
    .circle {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: solid 2px $color-skyblue;
      background-color: $color-white;
      position: absolute;
      top: -8px;
      &.done {
        border-color: $color-blue;
        background-color: $color-blue;
        &:before {
          content: '✔';
          font-size: 12px;
          color: white;
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &.active {
        border-color: $color-blue;
        &:before {
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $color-blue;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &:nth-child(1) {
        left: -8px;
      }
      &:nth-child(2) {
        left: 72px;
      }
      &:nth-child(3) {
        left: 152px;
      }
      &:nth-child(4) {
        left: 232px;
      }
    }
  }
}

.step-three-form {
  .Upload-btn{
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-blue;
    border: solid 2px $color-blue;
    border-radius: 8px;
    margin-bottom: 24px;
    cursor: pointer;
    user-select: none;
    i {
      font-size: 45px;
      width: 58px;
      height: 45px;
      margin-right: 20px;
    }
    .img-notice {
      font-size: 14px;
    }
  }
  .img-alert {
    font-size: 20px;
    text-align: center;
    color: $color-white;
    padding: 14px 25px;
    background-color: $color-origin;
    border-radius: 8px;
    i {
      margin-right: 8px;
    }
  }
  input[type="file"] {
    display: none;
  }
  .imgs-block {
    margin: 24px 0px 40px;
    display: flex;
    flex-wrap: wrap;
    .img-block {
      width: 140px;
      height: 140px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin: 0 10px;
      border-radius: 8px;
      overflow: hidden;
      &:hover {
        .delete {
          bottom: 0px;
        }
      }
      .delete {
        width: 100%;
        height: 52px;
        position: absolute;
        bottom: -52px;
        background-color: $color-blue;
        font-size: 20px;
        color: $color-white;
        text-align: center;
        line-height: 52px;
        transition: .3s;
        cursor: pointer;
      }
      &:last-child {
        margin-right: 0px;
      }
      &:first-child {
        margin-left: 0px;
      }
    }
  }
}